h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg');
    background-size: cover;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

.left-align {
    display: block;
    margin-left: 0;
}

h3 {
    font-family: Helvetica;
    font-weight: bold;
    color: black;
    text-align: left;
}

p {
    color: black;
    text-align: left;
    font-family: Helvetica;
}

span {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;

}